In [4]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = '/Users/mervesarac/Downloads/satislar.csv'
sales_data = pd.read_csv(file_path, sep=';', encoding='utf-8')
# Parse the Sale_Date column as datetime
sales_data['Sale_Date'] = pd.to_datetime(sales_data['Sale_Date'], format='%d.%m.%Y')
# Display the first few rows of the DataFrame
sales_data.head()

,TRX NO,Product_ID,Sale_Date,Sales_Rep,Region,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel
0,1,1052,2023-02-03,Bob,North,18,Furniture,"152,75","267,22",Returning,"0,09",Cash,Online
1,2,1093,2023-04-21,Bob,West,17,Furniture,"3816,39","4209,44",Returning,"0,11",Cash,Retail
2,3,1015,2023-09-21,David,South,30,Food,"261,56","371,4",Returning,"0,2",Bank Transfer,Retail
3,4,1072,2023-08-24,Bob,South,39,Clothing,"4330,03","4467,75",New,"0,02",Credit Card,Retail
4,5,1061,2023-03-24,Charlie,East,13,Electronics,"637,37","692,71",New,"0,08",Credit Card,Online

In [5]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('analiz.db')

# Write the DataFrame to the SQLite database as a table named 'sales'
sales_data.to_sql('satislar', conn, if_exists='replace', index=False)

# Close the connection
conn.close()