In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = '/Users/mervesarac/Downloads/sales_data.csv'
sales_data = pd.read_csv(file_path)
# Parse the Sale_Date column as datetime
sales_data['Sale_Date'] = pd.to_datetime(sales_data['Sale_Date'])
# Display the first few rows of the DataFrame
sales_data.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [3]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('analiz.db')

# Write the DataFrame to the SQLite database as a table named 'sales'
sales_data.to_sql('sales', conn, if_exists='replace', index=False)

# Close the connection
conn.close()