In [2]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = '~/Downloads/Current_Employee_Names__Salaries__and_Position_Titles.csv'
chicago = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
chicago.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"CABALLERO, SAMUEL A",FOREMAN OF MOTOR TRUCK DRIVERS,DEPT STREETS AND SANITATION,F,HOURLY,40.0,NaN,41.41
1,"CHAPMAN, BRYAN A",FIREFIGHTER-EMT (RECRUIT),FIRE DEPARTMENT,F,SALARY,NaN,80448.0,NaN
2,"MUNOZ, LISSETTE C",POLICE OFFICER,DEPARTMENT OF POLICE,F,SALARY,NaN,97974.0,NaN
3,"ALDERDEN, JACOB M",CAPTAIN,DEPARTMENT OF POLICE,F,SALARY,NaN,159552.0,NaN
4,"JOHNSON, ANTHONY L",MOTOR TRUCK DRIVER,DEPT OF WATER MANAGEMENT,F,HOURLY,40.0,NaN,39.25

In [3]:
import sqlite3

# Connect to the SQLite database (it will create the database if it doesn't exist)
conn = sqlite3.connect('crm_subat.db')

# Write the DataFrame to a table named 'expense_data' in the database
chicago.to_sql('chicago_data', conn, if_exists='replace', index=False)

# Close the connection
conn.close()

In [12]:
# Connect to the SQLite database
conn = sqlite3.connect('crm_subat.db')

# Execute the SQL command to drop the table
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS expense_data")

# Commit the changes and close the connection
conn.commit()
conn.close()